
.git/
.idea/

dotenv/
hub_datasets
pretrained_models/
thirdparty/
trained_models/

**/cache/
**/cache_dir/
**/data/
**/data_dir/
**/file_dir/
**/log/
**/logs/
**/output_dir/
**/pretrained_models/
**/serialization_dir/
**/temp/
**/vocabulary/
**/__pycache__/

**/*.bib
**/*.bin
**/*.bz2
**/*.cache
**/*.conf
**/*.csv
**/*.def
**/*.doc
**/*.DOC
**/*.flac
**/*.gz
**/*.h5
**/*.ipynb
**/*.jpg
**/*.json
**/*.list
**/*.map
**/*.mp3
**/*.msgpack
**/*.npy
**/*.npz
**/*.old
**/*.onnx
**/*.phn
**/*.pkl
**/*.png
**/*.sav
**/*.tab
**/*.th
**/*.TextGrid
**/*.tsv
**/*.wav
**/*.wrd
**/*.xlsx
**/*.xml
**/*.yaml
**/*.yml
**/*.zip
