transformers==4.27.1
torch==1.13.1
datasets==2.10.1
librosa==0.10.0
evaluate==0.4.0
jiwer==2.6.0
gradio==3.21.0
ipywidgets==8.0.4
torchaudio==0.13.1
sox==1.4.1
tensorboardX==2.6
pandas==1.5.3
xlrd==1.2.0
openpyxl==3.0.9
editdistance==0.6.2
huggingface_hub==0.13.2
torchvision==0.14.1
accelerate==0.21.0
python-dotenv==1.0.0
seqeval==1.2.2
